  <div>
    <h1>Multiverse Heroes!</h1>
    <div class="hero_body">
      <app-list (selectedHero)="getHero($event)"></app-list>
      <app-details [setHero]="hero"></app-details>
    </div>
  </div>
