.details_box {
  width: 400px;
  height: 300px;
  margin: 1em 3em;
  /* border: 1px solid black; */
  text-align: center;
  /* color: aliceblue; */
  font-weight: 400;
  border-radius: 20px;
  padding: 15px 20px;
  font-family: cursive;
}

.revelation {
  font-weight: bold;
  margin: 3em;
}
