<div class="details_box" *ngIf="setHero? true : false" [ngStyle]="{'background-color': setColor(setHero.power)}">
  <div><span>ID # {{setHero.id}}</span></div>
  <h2>{{setHero.name}}</h2>
  <div>
    <h6></h6>
    <div>
      <span>Age : {{setHero.age}}</span><br>
      <span>Power : {{setHero.power}}</span><br>
      <span class="revelation">Revelation : {{setHero.revelation | date:'dd/MM/YYYY'}}</span>
      <p>{{setHero.details}}</p>
    </div>
  </div>

</div>
