<ul class="heroes">
    <li *ngFor="let hero of heros">
        <button (click)="onSelect(hero)" [class.selected]="activeHero===hero">
          <span class="power">{{hero.power}}</span>
          <span class="name">{{hero.name | uppercase}}</span>
        </button>
    </li>
</ul>
